.member-item{
	width: 90%;
	margin-left: 5%;
}
section{
	margin-top: 20px;
	padding: 20px 0;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
}
.outline{
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
}
section ul{
	list-style: none;
	height: 35px;
}
section li{
	float: left;
}
.name{
	margin-right: 20px;
}
.syozoku{
	margin-top: 20px;
}
.senmon-list{
	margin-top: 20px;
	list-style-type: square;
	height: 100%;
}
.senmon-list li{
	float: none;
}
