#floating-menu {
	position: absolute;
	width: 22%;
	top: 300px;
	left: 5%;

/*	border-top: 5px solid #006766;
	border-left: 5px solid #006766;
	border-right: 5px solid #003334;
	border-bottom: 5px solid #003334;*/

/*	-moz-box-shadow: 5px 5px 7px #454545;
	-webkit-box-shadow: 5px 5px 7px #454545;
	box-shadow: 5px 5px 7px #454545;*/

	z-index: 9999;
}
.midashi{
	width: 100%;
	height: 40px;
	color: #ffffff;
	margin: 0;
	font-weight: bold;
	font-size: large;
	background-color: #003334;
	padding-left: 35px;
	padding-top: 8px;
}
#floating-menu ul{
	list-style: none;
	padding: 0;
}
#floating-menu{ 
	display: block;
}
#floating-menu img{
	width: 100%;
	height: 30px;
}
.select{
	opacity: 0.9;
}
.noselect{
	opacity: 0.3;
}
.menu-item{
	/*border-bottom: 2px solid #ffffff;*/ 
	margin-bottom: 2px;
}
.menu-item-name{
	position: absolute;
	color: #ffffff;
	left: 50px;
	font-weight: bold;
}
.last-item{
	border: none;
}
#item-haikei{
	top: 48px;
}
#item-gruop{
	top: 80px;
}
#item-mokuteki{
	top: 112px;
}
#item-iti{
	top: 144px;
}
#item-mirai{
	top: 176px;
}
#item-a{
	bottom: 142px;
}
#item-b{
	bottom: 110px;
}
#item-c{
	bottom: 78px;
}
#item-d{
	bottom: 46px;
}
.outline {
	width: 90%;
	height: 100%;
	margin-left: 5%;
	margin-top: 20px;
	padding: 20px 5%;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
}
.outline-name{
	border-bottom: 0;
}
.outline-name ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.outline-name li{
	float: left;
	padding: 0;
	margin: 0;
}
.outline-content{
	width: 100%;
	padding: 10px 5%;
	border-top: solid 5px #282828;
	overflow: auto;
}
#saigailist{
	list-style: decimal;
	margin: 0 0 10px 40px;
}
#saigailist li{
	float: none;
}
#gruoplist{
	list-style: decimal;
	margin: 0 0 10px 40px;
}
#gruoplist li{
	float: none;
}
dd{
	margin-left: 15px;
}
#group dd{
	margin-left: 30px;
}
.nakamidashi{
	margin-left: 15px;
}
.yakuwariname{
	font-size: large;
}
.kadai-title{
	padding: 5px 0 0 10px; 
	font-weight: bold;
}
#kenkyuhou{
	margin-top: 100px;
}
.kadailist{
	height: 25px;
}
.kadailist li{
	height: 25px;
}
.kadaisyurui{
	font-weight: bold;
	font-size: large;
}
#mirai ul{
	margin-left: 20px;
}
#matome{
	margin-top: 80px;
}