#floating-menu {
	position: absolute;
	width: 250px;
	top: 300px;
	left: 5%;

/*	border-top: 5px solid #006766;
	border-left: 5px solid #006766;
	border-right: 5px solid #003334;
	border-bottom: 5px solid #003334;*/

/*	-moz-box-shadow: 5px 5px 7px #454545;
	-webkit-box-shadow: 5px 5px 7px #454545;
	box-shadow: 5px 5px 7px #454545;*/

	z-index: 9999;
}
.midashi{
	width: 100%;
	height: 40px;
	color: #ffffff;
	margin: 0;
	font-weight: bold;
	font-size: large;
	background-color: #003334;
	padding-left: 35px;
	padding-top: 8px;
}
#floating-menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#floating-menu{
	display: block;
}
.menu-item{
	border-bottom: 2px solid #ffffff; 
}
.menu-item-name{
	position: absolute;
	color: #ffffff;
	left: 50px;
	font-weight: bold;
}
.last-item{
	border: none;
}
#item-haikei{
	top: 46px;
}
#item-gruop{
	top: 78px;
}
#item-mokuteki{
	top: 110px;
}
#item-iti{
	top: 142px;
}
#item-mirai{
	top: 174px;
}
#item-a{
	bottom: 91px;
}
#item-b{
	bottom: 59px;
}
#item-c{
	bottom: 27px;
}
#item-d{
	bottom: -5px;
}
#haikei{
	overflow: auto;
}
.outline {
	width: 90%;
	height: 100%;
	margin-left: 5%;
	margin-top: 20px;
	padding: 20px 5%;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
}
.outline-name{
	border-bottom: 0;
}
.outline-name ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.outline-name li{
	float: left;
	padding: 0;
	margin: 0;
}
.outline-content{
	width: 90%;
	padding: 10px 5%;
	border-top: solid 5px #282828;
}
#saigailist{
	list-style: decimal;
	margin: 0 0 10px 40px;
}
#saigailist li{
	float: none;
}
.kadai-title{
	padding: 5px 0 0 10px; 
	font-weight: bold;
}
#kenkyuhou{
	margin-top: 100px;
}
.kadailist{
	height: 25px;
}