#floating-menu {
    position: absolute;
    width: 20%;
    top: 300px;
    left: 5%;
    border: 1px solid #000000;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
 
    -moz-box-shadow: 0px 0px 7px #454545;
    -webkit-box-shadow: 0px 0px 7px #454545;
    box-shadow: 0px 0px 7px #454545;

    z-index: 9999;
}
#haikei{
	height: 425px;
}
.outline {
	width: 90%;
	height: 100%;
	margin-left: 5%;
	margin-top: 20px;
	padding: 20px 5%;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
}
.outline-name{
	height: 27px;
}
.outline-name ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.outline-name li{
	float: left;
	padding: 0;
	margin: 0;
}
.outline-content{
	width: 90%;
	margin : 10px 5%;
}
#saigailist{
	list-style: decimal;
	margin: 0 0 10px 40px;
}
#saigailist li{
	float: none;
}
.kadai-title{
	padding: 5px 0 0 10px; 
	font-weight: bold;
}
#kenkyuhou{
	margin-top: 100px;
}
